body {
	font-family: Montserrat, courier;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  transition: all .2s ease-out;
  &:hover {
    opacity: .8;
  }
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
  margin: 0;
  margin-top: .3em;
}

.clear-fix {
  @mixin clearfix;
}

.bold {
  @mixin bold;
}

.semi-bold {
  @mixin semi-bold;
}