.about {

  &__header {

    font-family: bevan;
    font-size: 2.1rem;
  }

  &__social-link {
    &:hover {
      color: $link-blue;
    }
  }

  &__git-hub-link {
    color: $link-blue;
    text-decoration: underline;
  }

  &__fa-hyper-link {
    transform: scale(.85) rotate(-45deg);
    opacity: .5;
    transition: all .2s ease-out;
  }

  &__contact {

    font-size: .65rem;
    margin-top: 1em;

    &--bold-info {
      @mixin bold;
      font-size: 1.1em;
    }

  }

  &__objective {

    line-height: 1.35;
    margin-top: 1.7em;
    font-size: .9em;

  }

  &__title {

    font-family: bevan;
    color: #444;
    font-size: 1.4rem;
    margin-top: .8rem;

  }

  &__sub-title {

    @mixin semi-bold;
    font-size: 1.1rem;
    margin-top: .9rem;

    &:hover a .about__fa-hyper-link {
      opacity: 1;
      color: #3939c6;
    }

  }

  &__details {
    @mixin details-font;
    margin-top: .5em;
  }

  &__skill-list {
    @mixin details-font;
    line-height: 1.5;
  }

  &__resume-download {
    margin: 2.8em 0 0;
  }

}