.layout {

  &__wrapper {

    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;

    @mixin am {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }

  }

  &__flex-parent {
    @mixin am {
      display: flex;
    }
  }

  &--margin-top-med {
    margin-top: 1.1em;
  }

  &__col {
    @mixin am {
      width: 50%;
      display: inline-block;
    }
  }

  &__blurb {
    margin-top: 1em;
  }

  &__contact {
    li {
      margin-top: 5px;
    }
    @mixin am {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
    }
  }

}