.layout {

  &__wrapper {

    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;

    @mixin am {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }

  }

  &__flex-parent {
    display: flex;

  }

  &--margin-top-med {
    margin-top: 1.1em;
  }

  &__col {
    width: 50%;
    display: inline-block;
  }

  &__blurb {
    margin-top: 1em;
  }

  &__contact {
    display: flex;
    justify-content: space-between;
  }

}